<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" charset="UTF-8"/>
    <meta name="_csrf_hader" th:content="${_csrf.headerName}" charset="UTF-8"/>
    <title>PAK历史记录</title>
</head>
<script th:src="@{/js/jquery-3.3.1/jquery-3.3.1.js}" type="text/javascript"></script>
<script th:src="@{/js/top.js}" type="text/javascript"></script>
<script th:src="@{/js/historylist.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/headorfood.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/historylist.css}"/>
<body>
<div class="bodybox pk10lzzhfxymbox zsbox">
    <div id="headdivbox">
        <div class="headboxf">
            <div class="headboxh" style="left:19%;">
                <img src="" id="logoimg" style="float: left;" />
                <div class="logincss">
                    <h1 th:inline="text" style="font-weight: 900;">
                        <form th:action="@{/logout}" method="post">
                            你好 [[${#httpServletRequest.remoteUser}]]!
                            <input type="submit" value="注销" style="width: 50px;cursor: pointer; "/>
                        </form>
                    </h1>

                </div>
            </div>
        </div>
        <div class="menubannbox heightauto">
            <div class="menubox">
                <div class="menuboxr">
                    <ul>
                        <li style="width:150px;">
                            <a th:href="@{/index}" id="opta">投注区</a>
                        </li>

                        <li>
                            <a href="#">统计分析</a>
                        </li>
                        <li>
                            <a href="#">开奖结果</a>
                        </li>

                        <li>
                            <a href="#">简介</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="haomabox">
        <div class="haomaqu" id="pk10">
            <div class="haomaqul">
                <div class="ideal-label">
                    <label style="padding-right:10px;">方案名称</label>
                    <select class="selectTravelCity" id="selectTravelCity">

                    </select>
                </div>
            </div>
            <div class="touzhuqu">
                <div class="m-box-hd" style="margin-bottom:0">投注记录</div>
                <div style="padding:15px 10px;">
                    <table style="width: 100%; margin: 0px;border-collapse:collapse;" id="programListtable">
                        <tr class="historylisttr" style="height: 30px; background-color: #F0F0F0;">
                            <td style="width: 20%;border: solid 1px #ccc;font-weight:900;">方案名称</td>
                            <td style="width: 12%;border: solid 1px #ccc;font-weight:900;">
                                期号
                            </td>
                            <td style="width: 50%;border: solid 1px #ccc;font-weight:900;">
                                内容
                            </td>
                            <td style="width: 18%;border: solid 1px #ccc;font-weight:900;">
                                投注时间
                            </td>
                        </tr>
                        <tbody id="programListbody">

                        </tbody>
                    </table>
                </div>
            </div>
            <!--右边-->
            <div class="haomaqur">
                <div class="line linetit">距<span class="nextIssue" id="pk10_period">708406</span>期开奖仅有</div>
                <div class="line linetime" id="timebox">
                    <div class="opening opentyle" style="display:none;">开奖中...</div>
                    <div class="cuttime" style="display:block;">
                        <span class="bgtime hour" style="display: none;">00</span>
                        <span class="hourtxt" style="display: none;">时</span>
                        <span class="bgtime minute" id="pk10_minute">01</span>
                        <span>分</span>
                        <span class="bgtime second" id="pk10_second">38</span>
                        <span>秒</span>
                    </div>
                </div>
                <div class="line linetit height40">已开<span class="drawCount" id="pk10_publish">136</span>期，还有<span class="sdrawCount" id="pk10_level">43</span>期</div>
            </div>
        </div>
    </div>
    <div id="fooderbox">
        <div class="footer3">
            <div class="footer3c">Copyright &#169; 2018-2028
                北京赛车pk10 PAK玩投平台 版权所有</div>
        </div>
    </div>
</div>
</body>
</html>